{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 0, //off
    "no-plusplus": 0, //off
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 8
      }
    ]
  }
}