body {
  background:#2e80b6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 2rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 2px;
}

.card img {
  width: 100%;
}

.card h2 {
  color: black;
}

.card button {
  padding: 10px;
  color:white;
  background:#b62e44;
  border: none;
  cursor: pointer;
}

 .card button:focus {
  outline: none;
} 

.modal-outer {
  display: grid;
  /* background: hsla(50, 100%, 50%, 0.7); */
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center; 

  /* Hide this modal until we need it */
  /* display:none; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s; 
}

 .modal-outer img {
  width: 100%;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  min-height: 200px;
  border-radius: 2px;
  background:white;
  transform: translateY(-200%);
  transition: transform 1.5s;
}


.modal-outer.open .modal-inner {
  transform: translateY(0);
} 